.logo{
  width: 200px;
  height: 110px;
}
.form-group{
  display: flex;
  flex-direction: column;
}
.wrapperForm{
  padding: 10px;
}
input{
  margin-top: 10px;
  width: 200px;
}
button{
  margin-top: 10px;
}

